<style type="text/css">
    
    .right-column
    {
      float: right;
      width: 30%;
    }
    .center-column
    {
      float: right;
      margin: auto;
      width: 30%;
    }
    .left-column
    {
      float: left;
      width: 30%;
    }

    ul { min-height: 20px; }
    li { width: 150px; }

    /*.sortable1, .sortable2 {
        border: 1px solid #eee;
        width: 142px;
        min-height: 20px;
        list-style-type: none;
        margin: 0;
        padding: 5px 0 0 0;
        float: left;
        margin-right: 10px;
  }
  .sortable1 li, .sortable2 li {
        margin: 0 5px 5px 5px;
        padding: 5px;
        font-size: 1.2em;
        width: 120px;
  }*/
  /*#sortable{
        border: 1px solid #eee;
        width: 142px;
        min-height: 20px;
        list-style-type: none;
        margin: 0;
        padding: 5px 0 0 0;
        float: left;
        margin-right: 10px;
  }
  #sortable li{
        margin: 0 5px 5px 5px;
        padding: 5px;
        font-size: 1.2em;
        width: 120px;
  }

  .draggable, .draggable-clone {
        border: 1px solid #eee;
        width: 142px;
        min-height: 20px;
        list-style-type: none;
        margin: 0;
        padding: 5px 0 0 0;
        float: left;
        margin-right: 10px;
  }
  .draggable li, .draggable-clone li {
        margin: 0 5px 5px 5px;
        padding: 5px;
        font-size: 1.2em;
        width: 120px;
  }*/

</style>